
.container {
	position: relative;
    margin: 50vh auto 0;
    transform: translateY(-50%);
	width: 400px;
	height: 200px;
	overflow: hidden;
	background-color: #ccc; 
}

.left-top {
	position: absolute;
	top: -50px;
	left: -50px;
	width: 100px;
	height: 100px;
	background-color: #fc0; 
	border-radius: 50%;
}
.right-bottom {
	position: absolute;
	right: -50px;
	bottom: -50px;
	width: 100px;
	height: 100px;
	background-color: #fc0; 
	border-radius: 50%;
}