body {
	width: 1280px;
	margin: 0 auto;
	font-family: "SimHei";
	font-size: 14px;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/*顶部：商标 + 导航栏*/
header {
	width: 100%;
	height: 60px;
	/*去掉inline-block元素之间的空隙*/
	font-size: 0;
}
.logo {
	position: relative;
	left: 7%;
	height: 60px;
	width: 9%;
	display: inline-block;
	vertical-align: middle;
	line-height: 60px;
	text-align: right;
	background: url(../img/logo.png) no-repeat left;

}
.logo p {
	color: #4e3a4f;
	font-size: 24px;
	font-weight: 500;
	margin: 0;
	cursor: default;
}

nav {
  position: relative;
  left: 50%;
	height: 60px;
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}
nav ul {
	height: 60px;
	width: 100%;
	line-height: 60px;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

nav ul li {
	display: inline-block;
	width: 20%;
	height: 60px;
	font-size: 14px;
	text-align: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
}
nav li a {
	color: #999;
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	transition: color 0.4s ease-in-out;
}
nav li a:hover {
	color: #e74f4d;
}
nav ul .move {
	position: absolute;
	left: 0px;
	top: 55px;
  width: 20%;
	border-top: 4px solid #e74f4d;
	-webkit-transition:left 0.4s ease-in-out;
	-moz-transition:left 0.4s ease-in-out;
	transition:left 0.4s ease-in-out;
}
nav ul li:nth-child(1):hover~.move {
	left: 0;
}
nav ul li:nth-child(2):hover~.move {
	left: 20%;
}
nav ul li:nth-child(3):hover~.move {
	left:40%;
}
nav ul li:nth-child(4):hover~.move {
	left:60%;
}
nav ul li:nth-child(5):hover~.move {
	left:80%;
}

.sign {
	position: relative;
	left: 50%;
	height: 60px;
	width: 7%;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
.sign a {
	color: #e74f4d;
}
.sign .move {
	position: absolute;
	top: 45px;
	left: 25%;
	width: 0;
	border-top: 2px solid  #e74f4d;
	-webkit-transition:width 0.4s ease-in-out;
	-moz-transition:width 0.4s ease-in-out;
	transition:width 0.4s ease-in-out;	
}
.sign:hover .move{
	width: 50px;
}
/*banner栏*/
.banner {
	position: relative;
	width:100%;
	height:690px;
	background: url(../img/banner.jpg);
}

.banner .banner_1 {
	position: absolute;
	left: 110px;
	top: 225px;
}
.banner_1 p {
	color: #fffdfd;
	font-size: 21px; 
	font-family: "微软雅黑";
}
.banner_1 p:first-child {
	margin-bottom: 30px;
	margin-left: -12px;
	font-size: 60px;
	font-family: Arial;
	letter-spacing: 3px;
}
.banner_1 p:last-of-type {
	margin-bottom: 60px;
}

.banner_1 span {
	width: 330px;
	height: 62px;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	color: #fffdfd;
	font-size: 30px;
	font-family: "微软雅黑";
	background: #e74f4d;
	border-style: none;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
.banner_1 span:hover {
	color: #FA8072;
	background: #FAF0E6;
	border-radius: 10px;
}

/*四大特点*/
.icon {
	width: 100%;
	height: 240px;
	font-size: 0;
}
.icon .cell {
	position: relative;
	top: 0;
	width: 25%;
	display: inline-block;
}
.icon .cell .img {
	width: 100%;
	height: 130px;
	display: inline-block;
	text-align: center;
}
.icon .cell .img img {
  position: relative;
  top: 40%;
}

.icon .cell .mes {
	width: 100%;
	height: 50px;
	font-size: 14px;
	color: #767777;
	line-height: 18px;
	text-align: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-right: 2px solid #767777;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;	
}
.icon .cell:hover .mes {
	color: #e74f4d;
}

.icon .cell:last-child .mes {
	border: none;
}

/*关于新世界*/
.page1 {
	height: 360px;
	background: #ededed url(../img/icon_5.jpg) no-repeat center top 90px; 
}
.page1>div {
	position: relative;
	top: 230px;
	text-align: center;
	font-size: 54px;
	color: #323333;
	opacity: 0.5;
}

/*查看新世界城市活动信息*/
.page2 {
	height: 340px;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	background: url(../img/bg_1.jpg) no-repeat;
	background-size: cover;
}
.page2 p {
	font-family: "微软雅黑";
}
.page2 .page2_title {
	position: relative;
	top: 50px;
	color: #fff;
	font-size: 21px;
	cursor: pointer;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}
.page2 hr {
	position: relative;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 2px;
	border: none;
	background: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}
.page2_message {
	position: relative;
	top: 70px;
	color: #fff;
	font-size: 12px;
}
.page2_title:hover {
 color: #e74f4d;
}
.page2_title:hover~hr {
	width: 240px;
	background: #e74f4d;
}
.page2 form {
	position: relative;
	top: 100px;
}

.page2 form select {
	width: 220px;
	height: 30px;
	margin: 0 20px;
	padding: 0 10px;
	color: #999;
	outline: 0;
	border: 2px solid #eee;
  -webkit-appearance:none;
     -moz-appearance:none;
    	    appearance:none;
  background: #fff url(../img/select-bg.png) no-repeat right 10px center;
}

.page2 form select:hover {
	border: 1px solid #e74f4d;
}

.sub-btn {
	width: 220px;
	height: 30px;
	margin: 0 20px;
	padding: 0 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 10px;
	background: #e74f4d;
	cursor: pointer;
	outline: none;
	border: none;
}

/*page3*/
.page3 {
	width: 100%;
	height: 500px;
	text-align: center;
	background: #edeaea;
}
.page3 .cell {
	display: inline-block;
	width: 20%;
	height: 400px;
	position: relative;
	top: 50px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.page3 .cell .img {
	width: 100%;
	height: 320px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.page3 .cell .img img {
	height: 300px;
	cursor: pointer;
}
.page3 .cell .mes {
	width: 100%;
	height: 80px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.page3 .cell .mes p:first-child {
	font-size: 14px;
	color: #44403f;
	margin-bottom: 10px;
}
.page3 .cell .mes p:last-child {
	font-size: 12px;
	color: #b3afac;
}
.page3 .cell:nth-child(2)>.mes {
	padding-top: 30px;
}
.page3 .cell:nth-child(2)>.mes p:first-child{
    font-size: 24px;
    text-indent: 30px;
    letter-spacing: 30px;
    margin-bottom: 5px;
}
.page3 .cell:nth-child(2)>.mes p:last-child{
    margin: 0;
}

/*page4*/
.page4 {
	width: 100%;
	height: 560px;
}
.page4 .left {
	float: left;
	width: 68%;
	height: 560px;
	background: url(../img/bg_2.jpg) no-repeat;
	background-size: cover; 
}
.page4 .left .mes {
	position: relative;
	top: 130px;
	text-align: center;
	color: #fff;
	font-family: "微软雅黑";
}
.page4 .left .mes_1 {
  font-size: 50px;
  margin-bottom: -40px;
}
.page4 .left .mes_2 {
	font-size: 160px;
}
.page4 .left .mes_3 {
	font-size: 22px;
	margin-top: -10px;
}
.page4 .left::after {
	content: '';
	position: absolute;
	top: 260px;
	left: 100%;
	margin-left: -60px;
	border-width: 30px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
}

.page4 .right {
	margin-left: 68%;
	width: 32%;
	height: 560px;
	text-align: center;
}

/*page5*/
.page5 {
	width: 100%;
	height: 520px;
  font-size: 0;
}
.page5 .left {
	float: left;
  width: 33.3%;
  height: 100%;
  color: #fff;
  background: #e74f4d;
}
.page5 .middle {
	display: inline-block;
	width: 33.3%;
	height: 100%;
	background: #fff;
}
.page5 .right {
	float: right;
	position: relative;
	width: 33.3%;
	height: 100%;
	background: url(../img/bg_3.jpg) no-repeat;
}
.page5 .right::after {
	content: '';
  position: absolute;
  top: 250px;
  left: 0;
  border-width: 30px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
.page5 .mes {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
	font-size: 21px;
	line-height: 30px;
}

.page5 .mes hr {
	width: 40px;
	height: 2px;
	position: relative;
	margin: 20px 0;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border: none;
}
.page5 .middle .mes hr {
	background: #000;
}
.page5 .mes span {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #fff;
	cursor: pointer;
}
.page5 .middle .mes span {
	color: #e74f4d;
	border-color: #e74f4d;
}

/*page6*/
.page6 {
	margin: 110px 130px;
	height: 550px;
}
.page6 .mes {
	position: relative;
	margin: 110px 0;
	width: 100%;
	text-align: center;
}
.page6 .mes h3 {
	font-size: 21px;
	color: #323333;
}
.page6 .mes hr {
	position: relative;
	margin: 10px 0;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 2px;
	border: none;
	background: #e74f4d;
}
.page6 .mes p {
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 20px;
	color: #aaaaaa;
}

.page6 .left {
	float: left;
	width: 290px;
}
.page6 .left h4 {
	color: #aaaaaa;
	font-size: 14px;
	margin: 20px 0;
}
.page6 .left h4:first-child {
	margin-top: 0;
}
.page6 .left p {
	color: #aaaaaa;
	font-size: 12px;
	line-height: 20px;
	font-family: "宋体";
}
.page6 .left a {
	text-align: right;
}

.page6 .right {
	float: right;
	width: 640px;
}
.page6 .right input[type="text"] {
	width: 48%;
	height: 40px;
	margin-bottom: 15px;
	padding: 0 15px;
	font-family: "宋体";
	background: #eee;
	border: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.page6 .right .rtl {
	float: right;
}
.page6 .right textarea {
	width: 100%;
	height: 120px;
	margin-bottom: 15px;
	padding: 5px 15px;
	font-family: "宋体";
	background: #eee;
	border: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
}
.page6 .right input[type="submit"] {
	width: 100%;
	height: 40px;
	color: #323333;
	font-size: 14px;
	font-weight: 600;
	background: #eee;
	border: 0;
	cursor: pointer;
}

/*footer*/
footer {
	width: 100%;
	height: 415px;
}

footer .cell_1 {
	width: 100%;
	height: 360px;
	text-align: center;
  background: #32353e; 
}
footer .cell_1 h3 {
	position: relative;
	padding-top: 90px;
	color: #fff;
	font-size: 21px;
	line-height: 40px;
}
footer .cell_1 p {
	color: #fff;
	font-size: 12px;
	line-height: 16px;
}
footer .cell_1 input {
	margin: 30px 0;
}
footer .cell_1 input[type="text"] {
	width: 400px;
	height: 40px;
	padding: 0 10px;
	border: 0;
}
footer .cell_1 input[type="submit"] {
	position: relative;
	left: -10px;
	width: 80px;
	height: 40px;
	color: #fff;
  font-size: 15px;
  font-weight: 700;
	background: #999;
	border: 0;
	cursor: pointer;
}
footer .cell_1 a {
	display: inline-block;
	position: relative;
	margin: 20px 10px;

}

footer .cell_2 {
	position: relative;
	width: 100%;
	height: 55px;
  background: #2f3038; 
}
footer .cell_2 p {
	position: absolute;
	left: 100px;
	top: 25px;
	color: #fff;
}
footer .cell_2 button {
	position: absolute;
	right: 50px;
	top: 15px;
	width: 100px;
	height: 30px;
	color: #fff;
	background: #2f3038;
	border:0;
	outline: none;
	cursor: pointer;
}
footer .cell_2 button:hover {
	background: #e74f4d;
	border-radius: 5px;
}